*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #EEF5FF;
}

a, p{
    font-family:'Hedvig Letters Sans', sans-serif;
};

h1{
    font-family: 'Hedvig Letters Serif', serif;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 500px;
    background-color:#9EB8D9;
    border-radius: 20px;
    padding: 20px;
}

#result{
    margin-top: 20px;
}

input{
    background-color: #EEF5FF;
    border-radius: 5px;
    border: 0.5px solid rgb(172, 171, 171);
}

#btn{
    background-color: #7C93C3;
    color: black;
    border-radius: 10px;
    border: 1px solid black;
    height: 20px;
}